name: Security Scan

on: 
  pull_request:
    branches: [ main ]

jobs:
  security-scan:
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v4
        with: 
          fetch-dep: 0

      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install pipx
        run: pip install pipx

      - name: Install dependencies
        run: pipx install ggshield

      - name: Run ggshield scanner
        run: ggshield secret path -r . -y
        env:
          GITGUARDIAN_API_KEY: ${{ secrets.GITGUARDIAN_API_KEY }}